@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext');
$ease_out: cubic-bezier(.4,.2,.2,1);

html, body {
  height:100%;
}

body {
  background-color: #F9F7F5;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.4em;
  font-weight:700;
  display:inline-block;
  vertical-align:middle;
  &:before {
    display:block;
    width: 80px;
    height:80px;
    margin:0 auto .7em;
    content: '';
    background-size: contain;
    background-position: center;
  }
}
p {
  line-height:1.9em;
  font-size: 1em;
}

.v-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

article {
  width: 300px;
  margin: 0 1em;
  color: white;
  perspective: 1000px;
  position: relative;
  text-align: center;
  .front,
  .back {
      transition: transform 0.7s $ease_out;
      backface-visibility: hidden;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 400px;
  }
  .front {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: rotateY(0deg);
    background-size: cover;
    background-position: center;
    background-color: rgb(59, 59, 59);
    background-blend-mode: overlay;
    .text {
      transform: translate3d(0,0,0);
      opacity:1;
    }
  }
  .back {
    transform: rotateY(180deg);
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #447589, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #46849f, #2c515e, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    z-index: 1;
    .text {
      padding: 0 1.7em;
      transform: translate3d(80%,0,0);
    }
  }
  .text {
    transition:transform 0.7s $ease_out, opacity 0.4s linear;
    opacity:0
  }
 
  &:hover {
    .front {
       transform: rotateY(-180deg);
      .text {
        transform: translate3d(-200%,0,0);
        opacity: 0;
      }
    }
    .back {
       transform: rotateY(0deg);
      .text {
        transform: translate3d(0,0,0);
        opacity: 1;
      }
    }
  }
}

article {
  &:nth-child(1) .front {
    background-image:url(img/pexels-hanna-yurouskaya-10967626.jpg);
    h1:before {
      background-image:url(img/stock-exchange-app.png)
    }
  }
  &:nth-child(2) .front {
    background-image:url(img/pexels-essow-936722.jpg);
    h1:before {
      background-image:url(img/clipboard.png)
    }
  }
  &:nth-child(3) .front {
    background-image:url(img/pexels-arthur-brognoli-2260835.jpg);
    h1:before {
      background-image:url(img/user.png)
    }
  }
}

.auth {
  position:absolute;
  bottom:1em;
  right:1em;
  a {
    color: #ccc;
    text-decoration: none;
  }
}