.graph-title {
    margin-top: 2vh;
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #76e4ff 0%,
        #6fb7ff 29%,
        #b158ff 67%,
        #81e0ff 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
    display: inline-block;
    font-size: 5vh;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.page2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: #005aa7; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to top,
        #fffde4,
        #005aa7
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to top,
        #fffde4,
        #005aa7
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media screen and (max-width: 900px) {
    .page2-container {
        height: 2000px;
    }

    .graph-title {
        font-size: 5vh;
        text-align: center;
    }
}
